{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<header>
  <div class="welcome-header">
    <div class="image-card">
      <img class="welcome-img" src="{% static 'app/img/init.gif' %}" alt="Welcome">
    </div>
  </div>
</header>

<section class="init">
  <div class="init-item">
    <a href="#" class="btn init-link item-one">
      LIBRERÍA
    </a>
  </div>
  <div class="init-item">
    <a href="#" class="btn init-link item-two">
      COMUNIDAD
    </a>
  </div>
  <div class="init-item">
    <a href="#" class="btn init-link item-three">
      LMS
    </a>
  </div>
</section>

<section class="anet-category">
  <div class="container-head">
    <h2 class="courses-title">Categorias</h2>
    <a href="#" class="courses-title">Ver Todas</a>
  </div>
  <div id="category-carousel">
    <div class="arrow category-left-arrow">
      <span class="carousel-control-prev-icon"></span>
    </div>
    <div class="arrow category-right-arrow">
      <span class="carousel-control-next-icon"></span>
    </div>
    <div class="category-carousel">
      {% for category in categories %}
        <div class="category" id="category_{{ category.id }}">
          <a href="">
            <img src="{% static category.img %}" width="195" height="100" />
          </a>
          <div class="category-description">
            <h5 class="title-card">{{category.name}}</h5>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
</section>


<section class="anet-library">
  <div class="container-head">
    <h2 class="courses-title">Librería</h2>
    <a href="#" class="courses-title">Ver Todos</a>
  </div>
  <div id="container-carousel">
    <div class="arrow left-arrow">
      <span class="carousel-control-prev-icon"></span>
    </div>
    <div class="arrow right-arrow">
      <span class="carousel-control-next-icon"></span>
    </div>
    <div class="carousel">
      {% for book in books %}
        <div class="library" id="library_{{ book.id }}">
          <img src="{% static book.img %}" width="195" height="100" />
          <div class="library-description">
            <h5 class="title-card">{{book.title}}</h5>
            <p class="autor"><a href="#">{{book.autor}}</a></p>
            <p class="date"><a href="#">{{book.date}}</a></p>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
</section>



<section class="anet-history">
  <div class="container-head">
    <h2 class="courses-title">Instituciones</h2>
    <a href="#" class="courses-title">Ver Todos</a>
  </div>
  <div id="collage-carousel">
    <div class="arrow collage-left-arrow">
      <span class="carousel-control-prev-icon"></span>
    </div>
    <div class="arrow collage-right-arrow">
      <span class="carousel-control-next-icon"></span>
    </div>
    <div class="collage-carousel">
      {% for collage in collages %}
        <div class="history" id="history_{{ collage.id }}">
          <a href="">
            <img src="{% static collage.img %}" width="195" height="100" />
          </a>
        </div>
      {% endfor %}
    </div>
</div>
</section>

<section class="anet-clients">
  <div class="our-head">
    <h2 class="title">Gracias por la confianza</h2>
  </div>
  <div class="our-content">
    {% for client in clients %}
      <div class="clients" id="our_{{ client.id }}">
        <a href="">
          <img src="{% static client.img %}" width="195" height="100" />
        </a>
      </div>
    {% endfor %}
  </div>
</section>


{% endblock %}