:root{
  --primary :rgba(24, 64, 8); 
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/Montserrat-Black.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-BoldItalic';
  src: url('../fonts/Montserrat-BoldItalic.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
}

body {
  font-family: 'Montserrat-Regular';
  background: #11142f !important;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

p {
  line-height: 1.75;
}

a{
  color: var(--primary);
  text-decoration: none;
}
a:hover{
  color: var(--primary);
  opacity: 80%;
  text-decoration: none;
}

#main{
  margin-top: 100px;
  min-height: 80vh;
  margin: 0 !important;
}

.window-wrapper {
  background: #11142f;
}


.global-header {
  background: #11142f;
  border-bottom: none;
  z-index: 100;
  width: 100%;
}

.global-header .header-logo a {
  float: left;
  margin: 0 !important;
  display: block;
  padding: 0 1rem 0 3rem;
  height: 5rem;
}

.global-header .header-logo a .logo {
  height: 25px !important;
}



.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0 1rem;
  margin: .125rem 0 0;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-color: #11142f !important;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}


@media (min-width: 992px){

  .window-wrapper {
    margin: 5rem 0 0 0 !important;
  }

.global-header {
  box-shadow: 0 0.25rem 0.75rem -0.5rem rgba(0,0,0,0.9) !important;
  background: #11142f !important;
  height: 5rem !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  position: fixed;
  top: 0;
  z-index: 200;
  overflow: visible;
}

.global-header .main-header {
  height: 5rem;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.global-header .main-header .header-logo {
  display: inline;
  height: 4rem !important;
  width: auto !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 25% !important;
  align-self: center;
}

.global-header .main-header .header-logo a {
  float: left;
  margin: 0 !important;
  display: block;
  padding: 0 1rem 0 3.5rem !important;
  height: 4rem !important;
}

.global-header .main-header .header-logo a .logo {
  height: 4rem !important;
  padding: 0.95rem 0 0.85rem 0;
}

.global-header .main-header .nav-links {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.global-header .main-header .nav-links .nav-item {
  margin: 0 20px;
  padding: 0 !important;
  height: 5rem !important;
}

.global-header .main-header .nav-links .nav-item a {
  text-decoration: none !important;
  font-size: 1.2rem !important;
  background: #11142f !important;
  color: #fff;
  height: 5rem !important;
  padding: 0 0.6rem !important;
  margin: 0 !important;
  justify-items: center;
  line-height: 4;
  font-weight: 800;
  font-family: 'Montserrat-Medium';
}

.global-header .nav-links .main {
  margin: 0 0 0 1.5rem!important;
  width: 35%;
}

.global-header .nav-links .main .nav-tab {
  text-transform: none;
  padding: 0;
  cursor: pointer;
  margin: 0 20px;
}

.global-header .nav-links .secondary {
  margin: 0 1.5rem 0 0 !important;
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: flex-end !important;
}

.global-header .nav-links .secondary .nav-item {
  color: #fff;
  margin: 0 0.2rem !important;
  height: 5rem !important;
}

.global-header .nav-links .secondary .nav-item a {
  color: #fff;
  margin: 0 0.2rem !important;
  height: 5rem !important;
}




.global-header .main-header .nav-links .dropdown-item {
  margin: 0 20px;
  padding: 0 20px !important;
  height: 5rem !important;
  font-family: 'Montserrat-Medium';
  border-top: 1px solid #fff;
}

.global-header .main-header .nav-links .social {
  display: flex;
  width: 30%;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
}

.global-header .main-header .nav-links .social a.social-btn {
  text-decoration: none !important;
  font-size: 1.2rem !important;
  line-height: 3;
  background: #11142f !important;
  color: #fff;
  font-weight: 400;
  height: 5rem !important;
  padding: 0 0.15rem !important;
  margin: 0 !important;
  justify-items: center;
  line-height: 4;
  width: 2.1rem !important;
}


.global-header .main-header .nav-links .social .social-icon {
  height: 1.3rem !important;
}





}

@media (max-width: 991px){

  .window-wrapper {
    margin: 4rem !important;
  }

.global-header {
  box-shadow: none;
  box-shadow: 0 0.25rem 0.75rem -0.5rem rgba(0,0,0,0.9) !important;
  background: rgba(0,0,76,0.6) !important;
  height: 4rem !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 0;
  position: fixed;
  z-index: 200;
  overflow: visible;
}

.global-header .main-header {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  width: 100%;
  height: 4rem !important;
}

.global-header .main-header .header-logo {
  display: inline;
  height: 4rem !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  justify-content: center;
}


.global-header .main-header .header-logo a {
  height: 4rem;
  margin: 0 0 0 4.5rem !important;
  width: 177px !important;
  padding: 0 calc(((100% - 177px) * 0.5) + 4.5rem) 0 calc(((100% - 177px) * 0.5) - 4.5rem) !important;
}

.global-header .main-header .header-logo a .logo {
  height: 35px !important;
  margin: 0 !important;
  padding: 0.8rem 0 0.8rem 0 !important;
}


}

.mobile-menu {
  border-top: 1px solid #3b85ff;
  margin: 4rem 0 0 0;
  height: calc(100vh - 4rem) !important;
  background: #000;
  box-shadow: 0 0.25rem 0.75rem -0.5rem rgba(0,0,0,0.9) !important;
  background: rgba(0,0,76,0.6) !important;
}

.hamburger-menu{
  display: none;
}






.welcome-header{
  display: block;
}

.welcome-img{
  display: block;
  object-fit: cover;
  height: calc(100vh - 11rem);
  width: 100%;
}


.init{
  display: flex;
  flex-wrap: nowrap;
  padding: 0 5rem 0 5rem;
  background-color: #fff;
  height: 6rem;
  align-items: center;
  justify-content: center;
}

.init-item {
  display: block;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
}

.init-link{
  width: 22rem;
  background-color: transparent !important;
  padding: 0.5rem 5rem !important;
  display: inline-block;
  font-weight: 500;
  font-family: 'Montserrat-Bold';
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: .5rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.init-link.item-one{
  color: #0084d7 !important;
  border: 3px solid #0084d7 !important;
}

.init-link.item-two{
  color: #00b5eb !important;
  border: 3px solid #00b5eb !important;
}

.init-link.item-three{
  color: #51dfec !important;
  border: 3px solid #51dfec !important;
}


/**************************************/
.anet-library{
  width: 100%;
  align-content: center;
  padding: 2rem 0;
  height: 25rem;
}

.container-head{
  width: 100%;
  display: block;
  clear: both;
  height: 2rem;
}

.container-head h2{
  color: #fff;
  font-family: 'Montserrat-Black';
  padding: 0 5rem;
  float: left !important;
}

.container-head a {
  align-content: flex-end;
  color: #fff;
  font-family: 'Montserrat-Black';
  padding: 0.5rem 5rem;
  float: right !important;
}

#container-carousel {
  float: left;
  width: 100%;
  overflow: hidden;
  height: 17rem;
  position: relative;
  margin: 1rem 0;
}

#container-carousel .arrow{
  position:absolute;
  z-index:10;
  height: 17rem;
  cursor: pointer;
}

#container-carousel .left-arrow {
  left: 0 !important;
  border-left: 5rem solid #11142f;
  opacity: 0.5;
  border-top: 7rem solid #11142f;
  border-bottom: 7rem solid #11142f;
  border-right: calc(((100vw - 5rem) / 5) - 8rem) solid #11142f;
}

#container-carousel .right-arrow {
  right: 0 !important;
  border-left: calc(((100vw - 5rem) / 5) - 8rem) solid #11142f;
  opacity: 0.5;
  border-top: 7rem solid #11142f;
  border-bottom: 7rem solid #11142f;
  border-right: 5rem solid #11142f;
}


#container-carousel .left-arrow:hover, #container-carousel .right-arrow:hover {
  opacity: 0.8;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: #11142f;
  background-blend-mode: exclusion;
}

.carousel {
  width: 10000px;
  left: 0px;
  margin-left: -0.5rem;
  position: absolute;
  z-index: 0;
}

.carousel .library {
  float: left;
  height: 17rem;
  margin: 0 0.5rem;
  width: calc((100vw - 5rem) / 5);
  text-align: center;
  border:#CCCCCC 1px solid;
}

.carousel .library img {
  cursor:pointer;
  width: 100%;
  height: 57%;
  object-fit: cover;
}


.carousel .library .library-description {
  width: 100%;
  height: 43%;
  background: #fff;
  padding: 0.5rem;
}

.carousel .library .library-description .title-card {
  font-family: 'Montserrat-Black';
  font-size: 1.1rem;
  padding: 0.2rem;
  height: 33%;
  margin: 0;
}

.carousel .library .library-description .autor {
  font-family: 'Montserrat-Medium';
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  height: 33%;
}


.carousel .library .library-description .date {
  font-family: 'Montserrat-Regular';
  font-size: 0.9rem;
  height: 34%;
  padding: 0.8rem 0.5rem 0 0.5rem;
  margin: 0;
  width: 100%;
  text-align: left;
}


/***************************************/

/**************************************/
.anet-history{
  width: 100%;
  align-content: center;
  padding: 2rem 0;
  height: 25rem;
}

.container-head{
  width: 100%;
  display: block;
  clear: both;
  height: 2rem;
}

.container-head h2{
  color: #fff;
  font-family: 'Montserrat-Black';
  padding: 0 5rem;
  float: left !important;
}

.container-head a {
  align-content: flex-end;
  color: #fff;
  font-family: 'Montserrat-Black';
  padding: 0.5rem 5rem;
  float: right !important;
}

#collage-carousel {
  float: left;
  width: 100%;
  overflow: hidden;
  height: 17rem;
  position: relative;
  margin: 1rem 0;
}

#collage-carousel .arrow{
  position:absolute;
  z-index:10;
  height: 17rem;
  cursor: pointer;
}

#collage-carousel .collage-left-arrow {
  left: 0 !important;
  border-left: 5rem solid #11142f;
  opacity: 0.5;
  border-top: 7rem solid #11142f;
  border-bottom: 7rem solid #11142f;
  border-right: calc(((100vw - 5rem) / 5) - 8rem) solid #11142f;
}

#collage-carousel .collage-right-arrow {
  right: 0 !important;
  border-left: calc(((100vw - 5rem) / 5) - 8rem) solid #11142f;
  opacity: 0.5;
  border-top: 7rem solid #11142f;
  border-bottom: 7rem solid #11142f;
  border-right: 5rem solid #11142f;
}


#collage-carousel .collage-left-arrow:hover, #collage-carousel .collage-right-arrow:hover {
  opacity: 0.8;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: #11142f;
  background-blend-mode: exclusion;
}

.collage-carousel {
  width: 10000px;
  left: 0px;
  margin-left: -0.5rem;
  position: absolute;
  z-index: 0;
}

.collage-carousel .history {
  float: left;
  height: 17rem;
  margin: 0 0.5rem;
  width: calc((100vw - 5rem) / 5);
  text-align: center;
  border:#CCCCCC 1px solid;
}

.collage-carousel .history img {
  cursor:pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.collage-carousel .history .history-description {
  width: 100%;
  height: 43%;
  background: #fff;
  padding: 0.5rem;
}



/***************************************/









/***************************************/

.anet-footer {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #1b1d1d;
  color: #8f9190;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
}

.anet-footer .anet-img-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  width: 25%;
}

.anet-footer .anet-img-container span {
  margin: 10px;
  text-align: center;
  color: #8f9190;
}

.anet-footer .footer-title {
  color: #fff;
  font-family: 'Montserrat-Black';
  font-size: 1rem;
}
.anet-img-container a {
  display: contents;
}
.anet-footer span {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.anet-directions {
  padding: 20px 0px;
  width: 25%;
  text-align: center;
}

.anet-directions .anet-dir1,.anet-dir2 {
  margin-bottom: 10px;
}

.anet-contacts .anet-contact1,.anet-contact2 {
  margin-bottom: 10px;
}

.anet-contacts {
  padding: 20px 0px;
  width: 25%;
  text-align: center;
}

.anet-social {
  padding: 20px 0px;
  width: 25%;
  text-align: center;
}

.anet-social ul {
  display: contents;
  flex-direction: column;
}

.anet-social ul li {
  list-style: none;
  margin-bottom: 10px;
}

.anet-social ul li i {
  margin-right: 5px;
  color: rgba(255,255,255,0.7);
}

.anet-social ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #8f9190;
}

.anet-vertical-line {
  height: 130px;
  border: 1px solid rgba(255,255,255,0.1);
  margin: 20px auto;
}
/*************************************/